:root {
    --tealaround: rgb(200, 255, 237);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bar {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    min-height: 40px;
    border-radius: 10px;
    background-color: blue;
    background-image: url(universe-2303321_960_720.jpg);
    box-shadow: 3px 3px 2px black;
}

body {
    background-color: rgb(255, 255, 255);

}
header {
    display: inline-block;
    padding: 10px 0px 0px 50px;
    width: 100%;
}

header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    float: left;
    margin: 10px;
    box-shadow: 3px 3px 2px rgb(0, 0, 0);
}

header h1 {
    font-size: 70px;
    color: rgb(0, 44, 40);
    display: inline-block;
    margin: 0px;
}

header p {
    font-size: 25px;
    display: inline-block;
    color: rgb(0, 44, 40);
    margin-left: 5px;
}

#training {
    font-size: 10px;
}

nav {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 30px;
    list-style: none;
    font-size: 25px;
}

footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#aboutDivide {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}


#mainImage {
    max-width: 590px;
    background-color: aquamarine;
    opacity: .8;
    
}

.smallImage {
    width: 290px;
    height: 250px;
    background-color: aquamarine;
    opacity: .8;
}

#pictures {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    float: right;
    justify-content: left;
    margin-left: 50px;
}

#aboutDivide p {
    color: black;
    float: right;
    width: 60%;
    margin-left: 50px;

}

#Aboutheadings {
    padding: 0px 0px 30px;
    font-size: 40px;
    display: inline-block;
    width: 300px;
    text-align: end;
    border-right: 5px solid black;
    padding-right: 10px;
    margin: 10px;
}

#footerheadings {
    padding: 0px 0px 30px;
    font-size: 40px;
    display: inline-block;
    width: 300px;
    text-align: end;
    border-right: 5px solid black;
    padding-right: 10px;
    margin: 10px;
}

#Workheadings {
    padding: 0px 0px 850px;
    font-size: 40px;
    display: inline-block;
    width: 300px;
    text-align: end;
    border-right: 5px solid black;
    padding-right: 10px;
    margin: 10px;
}

.WorkDivide {
    display: flex;
    align-items: flex-start;
}

.borders {
    margin: 5px;
    border: 2px solid var(--tealaround);
}

footer ul {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer ul li {
    margin: 50px;
    font-size: 20px;
    list-style: none;
    justify-self: flex-start;
}

.container {
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 40px;
    left: 5px;
    font-size: 20px;
    background-color: var(--tealaround);
    padding: 15px;
}
 
img:hover,  #mainImage:hover {
    opacity: 1;
}


a {
    color: black;
}

@media screen and (max-width: 992px) {
    .cropimage {
        width: 40rem;
        height: 20rem;
    }

    #WorkDivide {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    main {
        align-items: center;
    }

    #Aboutheadings.cropheading {
        align-items: center;
        border-bottom: 5px solid black;
        padding: 0rem;
        text-align: center;
        width: 80%;
        border-right: none;
    }

    #Workheadings.cropheading {
        align-items: center;
        border-bottom: 5px solid black;
        padding: 0rem;
        text-align: center;
        width: 80%;
        border-right: none;
    }
    #footerheadings.cropheading {
        align-items: center;
        border-bottom: 5px solid black;
        padding: 0rem;
        text-align: center;
        width: 80%;
        border-right: none;
    }

    #aboutDivide {
        display: flex;
        flex-direction: column;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    footer ul {
        flex-direction: column
    }

    footer ul li {
        margin: 30px;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav {
        float: none;
    }

    header {
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: none;
    }

}
    
